<!DOCTYPE html>
<html>
<title>Plant Besties</title>
<meta charset="UTF-8">
<script src="https://d3js.org/d3.v4.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/hackher/static/style.css">
<body>

<!-- Header -->
<header id="home">
  <div>
    <h1>Plant Besties</h1>
  </div>
</header>

<!-- content -->
<div> 
    <div> 
      <h2 style = "text-align: center;"><b>You can adopt an endanger plant as your bestie here!</b></h2>
      <h2 style = "text-align: center;"><b>As you interact with your bestie, you can learn more about their specie :)</b></h2>
    </div>
    <canvas></canvas>
    <script src = "/hackher/static/game.js" type = "text/javascript"></script>
</div>

<!-- Footer -->
<footer>
	<div style="margin-bottom:20px"> </div>
</footer>


</body>
</html>
