<html>
<head>
    <title>Login</title>
</head>
<body>

    <form action="/login" method="post" id="plantform" autocomplete="off">
        <input name="email" type="text" alt="Email" placeholder="Email" />
        <br />
        <input name="password" type="password" alt="Password" placeholder="Password" />
        <br />
        <label for="plant">Choose a car:</label>
        <select id="plant" name="plantlist" form="plantform">
            <option value="0">dune thistle (Cirsium pitcheri)</option>
            <option value="1">cactus (Astrophytum asterias)</option>
            <option value="2">hawaiian flower (Abutilon menziesii)</option>
            <option value="3">cabbage on a stick(Brighamia insignis)</option>
        </select>
        <button type="submit">Log In or Sign Up</button>
    </form>
</body>
</html>